WwebServiceWSDL/IsmpSpEngineService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sp.ismp.chinatelecom.com" xmlns:impl="http://sp.ismp.chinatelecom.com" xmlns:intf="http://sp.ismp.chinatelecom.com" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://rsp.sp.ismp.chinatelecom.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns1="http://req.sp.ismp.chinatelecom.com">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://req.sp.ismp.chinatelecom.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://rsp.sp.ismp.chinatelecom.com"/>
			<complexType name="OrderRelationUpdateNotifyReq">
				<sequence>
					<element name="OPType" type="xsd:int"/>
					<element name="productID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
					<element maxOccurs="unbounded" minOccurs="0" name="VerUserID" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="ServiceConsumeNotifyReq">
				<sequence>
					<element name="featureStr" nillable="true" type="xsd:string"/>
					<element name="linkID" nillable="true" type="xsd:string"/>
					<element name="productID" nillable="true" type="xsd:string"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
					<element name="userID" nillable="true" type="xsd:string"/>
					<element name="userIDType" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="NotifyManagementInfoReq">
				<sequence>
					<element name="ID" nillable="true" type="xsd:string"/>
					<element name="IDType" type="xsd:int"/>
					<element name="status" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
    <schema elementFormDefault="qualified" targetNamespace="http://sp.ismp.chinatelecom.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://rsp.sp.ismp.chinatelecom.com"/>
			<import namespace="http://req.sp.ismp.chinatelecom.com"/>
			<element name="orderRelationUpdateNotifyReq" type="tns1:OrderRelationUpdateNotifyReq"/>
			<element name="orderRelationUpdateNotifyReturn" type="tns2:Response"/>
			<element name="serviceConsumeNotifyReqPara" type="tns1:ServiceConsumeNotifyReq"/>
			<element name="serviceConsumeNotifyReturn" type="tns2:Response"/>
			<element name="notifyManagementInfoReq" type="tns1:NotifyManagementInfoReq"/>
			<element name="notifyManagementInfoReturn" type="tns2:NotifyManagementInfoRsp"/>
		</schema>
    <schema elementFormDefault="qualified" targetNamespace="http://rsp.sp.ismp.chinatelecom.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://req.sp.ismp.chinatelecom.com"/>
			<complexType name="Response">
				<sequence>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="NotifyManagementInfoRsp">
				<sequence>
					<element name="resultCode" type="xsd:int"/>
					<element name="streamingNo" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
  </wsdl:types>
  <wsdl:message name="serviceConsumeNotifyResponse">
    <wsdl:part name="serviceConsumeNotifyReturn" element="impl:serviceConsumeNotifyReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderRelationUpdateNotifyRequest">
    <wsdl:part name="orderRelationUpdateNotifyReq" element="impl:orderRelationUpdateNotifyReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyManagementInfoResponse">
    <wsdl:part name="notifyManagementInfoReturn" element="impl:notifyManagementInfoReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="serviceConsumeNotifyRequest">
    <wsdl:part name="serviceConsumeNotifyReqPara" element="impl:serviceConsumeNotifyReqPara">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="orderRelationUpdateNotifyResponse">
    <wsdl:part name="orderRelationUpdateNotifyReturn" element="impl:orderRelationUpdateNotifyReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="notifyManagementInfoRequest">
    <wsdl:part name="notifyManagementInfoReq" element="impl:notifyManagementInfoReq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IsmpSpEngine">
    <wsdl:operation name="orderRelationUpdateNotify" parameterOrder="orderRelationUpdateNotifyReq">
      <wsdl:input name="orderRelationUpdateNotifyRequest" message="impl:orderRelationUpdateNotifyRequest">
    </wsdl:input>
      <wsdl:output name="orderRelationUpdateNotifyResponse" message="impl:orderRelationUpdateNotifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceConsumeNotify" parameterOrder="serviceConsumeNotifyReqPara">
      <wsdl:input name="serviceConsumeNotifyRequest" message="impl:serviceConsumeNotifyRequest">
    </wsdl:input>
      <wsdl:output name="serviceConsumeNotifyResponse" message="impl:serviceConsumeNotifyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyManagementInfo" parameterOrder="notifyManagementInfoReq">
      <wsdl:input name="notifyManagementInfoRequest" message="impl:notifyManagementInfoRequest">
    </wsdl:input>
      <wsdl:output name="notifyManagementInfoResponse" message="impl:notifyManagementInfoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IsmpSpEngineSoapBinding" type="impl:IsmpSpEngine">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="orderRelationUpdateNotify">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="serviceConsumeNotify">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyManagementInfo">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IsmpSpEngineService">
    <wsdl:port name="IsmpSpEngine" binding="impl:IsmpSpEngineSoapBinding">
      <wsdlsoap:address location="http://localhost:8383/WsdlProject/services/IsmpSpEngine"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
